<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login back office de Poupette et Ronron{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Palanquin&family=Permanent+Marker&display=swap"
          rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>

<div class="pr-container-admin-all">
    <div class="pr-container-admin-nav">
        {% include "includes/_navbar_admin.html.twig" %}
    </div>

    <div class="pr-container-admin-body">

        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="d-flex flex-column align-items-center mb-3">
        <div class="w-50 pr-box-orange px-3 py-1">
            <p>Vous êtes connecté en tant que {{ app.user.userIdentifier }}</p>
            <a href="{{ path('app_logout') }}"><p class="pr-color-orange">Me déconnecter</p></a>
        </div>
        </div>
    {% endif %}

        <h1 class="pr-color-orange mt-0 mb-4 pb-5">Connexion</h1>

    <div class="d-flex justify-content-center">
<div class="d-flex flex-column align-items-center mt-5 pt-5 w-50 pr-box">
    <label for="inputEmail"></label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control pr-admin-form-input" autocomplete="email" placeholder="Email" required autofocus>
    <label for="inputPassword"></label>
    <input type="password" name="password" id="inputPassword" class="form-control pr-admin-form-input" autocomplete="current-password" placeholder="Mot de passe" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn mt-4 pr-button-slate" type="submit">
        Valider
    </button>



    <a href="{{ path('app_forgot_password_request') }}"><p class="">Réinitialiser mon mot de passe</p></a>
    </div>
    </div>
</form>
    </div>
</div>

</body>

</html>
