
{{ form_start(form) }}


<div class="col">
    <label class="">Jour</label>
    <input
            name="{{ field_name(form.day) }}"
            type="text" class="form-control pr-admin-form-input"
            value="{{ openingHours.day }}" required>
    <div class="pr-form-error">
        {{ form_errors(form.day) }}
    </div>
</div>

<div class="col">
    <label class="">Amplitude horaire</label>
    <input
            name="{{ field_name(form.description) }}"
            type="text" class="form-control pr-admin-form-input"
            value="{{ openingHours.description }}" required>
    <div class="pr-form-error">
        {{ form_errors(form.description) }}
    </div>
</div>


<button class="btn pr-button-slate">{{ button_label|default('Valider') }}</button>

{{ form_end(form) }}
