{% extends 'base_admin.html.twig' %}

{% block title %}Opening Hours{% endblock %}

{% block body %}


    <div class="pr-admin-header">
        <h1 class="pr-color-orange mt-0 mb-5">Horaires d'ouverture</h1>
        <h4>Liste des jours</h4>
    </div>

    <table class="table table-hover table-pr mt-5">
        <thead>
        <tr>
            <th scope="col">Jour</th>
            <th scope="col">Amplitude horaire</th>
            <th scope="col">Créée le</th>
            <th scope="col">Modifiée le</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tbody>
        {% for openingHour in openingHours %}
            <tr>
                <td>{{ openingHour.day }}</td>
                <td>{{ openingHour.description }}</td>
                <td>{{ openingHour.createdAt|date('Y-m-d') }}</td>
                <td>{{ openingHour.updatedAt|date('Y-m-d') }}</td>
                <td>
                    {#<a href="{{ path('app_faq_edit', {'id': faq.id}) }}"><button class="pr-button-mini-ice">Modifier</button></a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn pr-button-slate"><a href="{{ path('app_hours_new') }}">Ajouter</a></button>



{% endblock %}
