<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Password Reset Email Sent</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Palanquin&family=Permanent+Marker&display=swap"
          rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>

<div class="pr-container-admin-all">
    <div class="pr-container-admin-nav">
        {% include "includes/_navbar_admin.html.twig" %}
    </div>

    <div class="pr-container-admin-body">

        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="d-flex my-auto h-75">
            <div class="pr-box w-75 m-auto p-3 d-flex flex-column align-items-center">
        <p class="p-3">
            Si un compte correspond à votre adresse e-mail, un e-mail vient d'être envoyé contenant un lien que vous
            pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera
            dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p class="p-3">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de courrier indésirable ou <a
                    href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
            </div>
        </div>

    </div>

</body>

</html>
