<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Réinitialisez votre mot de passe</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Palanquin&family=Permanent+Marker&display=swap"
          rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>

<div class="pr-container-admin-all">
    <div class="pr-container-admin-nav">
        {% include "includes/_navbar_admin.html.twig" %}
    </div>

    <div class="pr-container-admin-body">

        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        <div class="d-flex my-auto h-75">
            <div class="pr-box w-75 m-auto p-3 d-flex flex-column align-items-center">
                <h1>Réinitialisez votre mot de passe</h1>

                <div class="w-75 mx-auto">

                 {{ form_start(resetForm, {'attr': {'class': 'p-5'}}) }}

                <div class="col">
                    <input
                            name="{{ field_name(resetForm.password.first) }}"
                            type="password" class="form-control pr-admin-form-input"
                            placeholder="Mot de passe" {# required #} >
                    <div class="pr-form-error">
                        {{ form_errors(resetForm.password.first) }}
                    </div>
                </div>

                <div class="col">
                    <input
                            name="{{ field_name(resetForm.password.second) }}"
                            type="password" class="form-control pr-admin-form-input"
                            placeholder="Confirmer votre mot de passe"{# required #} >
                    <div class="pr-form-error">
                        {{ form_errors(resetForm.password.second) }}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button class="btn pr-button-slate w-25 mt-5">Réinitialiser</button>
                </div>


                {{ form_end(resetForm) }}
                </div>

            </div>
        </div>
    </div>
</body>

</html>

