<div class="d-flex justify-content-center">
    <a href="{{ path('app_home') }}"><img src="{{ asset('build/images/LogoPRentier.png') }}" alt="Logo Poupette et Ronron"
                                          class="pr-logoEntier-admin"></a>
</div>

{% if is_granted('ROLE_ADMIN') %}

<h4 class="pr-color-paper mt-1">Bonjour {{ app.user.firstname }}</h4>
<a href="{{ path('app_home') }}"><h6 class="pr-color-paper">Retour au site</h6></a>
    <a href="{{ path('app_logout') }}"><h6 class="pr-color-paper">Me déconnecter</h6></a>


<h4 class="pr-nav-title mb-3">Utilisateurs</h4>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
<a href="{{ path('app_user_index') }}"><h5 class="pr-color-paper">Liste</h5></a>
<a href="{{ path('app_user_new') }}"><h5 class="pr-color-paper">Ajouter</h5></a>
    {% endif %}
    <a href="{{ path('app_user_show', {id: app.user.id} )}}"><h5 class="pr-color-paper">Mon profil</h5></a>
<a href="{{ path('app_user_edit_password', {id: app.user.id}) }}"><h5 class="pr-color-paper">Modifier mot de passe</h5></a>


<h4 class="pr-nav-title mb-3">FAQ</h4>
    <a href="{{ path('app_faq') }}"><h5 class="pr-color-paper">Liste</h5></a>
    <a href="{{ path('app_faq_new') }}"><h5 class="pr-color-paper">Ajouter</h5></a>

<h4 class="pr-nav-title mb-3">Horaires</h4>
    <a href="{{ path('app_hours') }}"><h5 class="pr-color-paper">Liste</h5></a>
    <a href="{{ path('app_hours_new') }}"><h5 class="pr-color-paper">Ajouter</h5></a>

<h4 class="pr-nav-title mb-3">Sujets Contact</h4>
    <a href="{{ path('app_contact_subject') }}"><h5 class="pr-color-paper">Liste</h5></a>
<h5 class="pr-color-paper">Ajouter</h5>

{% endif %}