
<div class="accordion pr-accordion-FAQ accordion-flush pr-FAQ-W" id="accordionFlushExample">

    {% for faq in faqs %}

        <div class="accordion-item pr-accordion-item-FAQ">
            <h2 class="accordion-header mb-2 mt-2">
                <button class="accordion-button pr-accordion-button-FAQ collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse{{ loop.index }}" aria-expanded="false" aria-controls="flush-collapse{{ loop.index }}">
                    {{ faq.question }}
                </button>
            </h2>
            <div id="flush-collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">{{ faq.answer }}</div>
            </div>
        </div>

    {% endfor %}

</div>