{% extends 'base_admin.html.twig' %}

{% block title %}Sujets{% endblock %}

{% block body %}

    <div class="pr-admin-header">
        <h1 class="pr-color-orange mt-0 mb-5">Sujets boite contact</h1>
    </div>

    <div class="w-50 m-auto p-3 d-flex flex-column align-items-center">
        <h3 class="mt-0 mb-4">Liste des sujets listés</h3>
    </div>

    <table class="table table-hover table-pr mt-3 pr-welcome">
        <thead>
        <tr class="align-top">
            <th scope="col">Sujet</th>
            <th scope="col">Est visible ?</th>
            <th scope="col">Créée le</th>
            <th scope="col">Modifiée le</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
        </thead>

        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.subject }}</td>
                <td>{{ subject.isValid ? 'Oui' : 'Non' }}</td>
                <td>{{ subject.createdAt|date('Y-m-d') }}</td>
                <td>{{ subject.updatedAt|date('Y-m-d') }}</td>
                <td>
                    <a href="{{ path('app_contact_subject_edit', {'id': subject.id}) }}" class="d-flex justify-content-center">
                        <button class="pr-button-mini-ice">Modifier</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn pr-button-slate"><a href="{{ path('app_contact_subject_new') }}">Ajouter</a></button>

{% endblock %}
