{{ form_start(form) }}

<div class="col">
    <label class="">Nom</label>
    <input
            name="{{ field_name(form.lastname) }}"
            type="text" class="form-control pr-admin-form-input"
            value="{{ user.lastname }}">
</div>

<div class="col">
    <label class="">Prénom</label>
    <input
            name="{{ field_name(form.firstname) }}"
            type="text" class="form-control pr-admin-form-input"
            value="{{ user.firstname }}">
</div>

<div class="col">
    <label class="">Email</label>
    <input
            name="{{ field_name(form.email) }}"
            type="text" class="form-control pr-admin-form-input"
            value="{{ user.email }}">
</div>


<h5 class="mt-5 mb-3">Niveau d'autorisation</h5>
{% for role in form.roles %}

    <div class="d-flex justify-content-between">
        <div class="me-3">{{ form_widget(role) }}</div>
        <div class="w-100">{{ role.vars.label }}</div>
    </div>

{% endfor %}


<h5 class="mt-5 mb-3">L'employé doit-il avoir accès en ce moment ?</h5>
<div class="d-flex justify-content-between">
    <div class="me-3">{{ form_widget(form.isActiv) }}</div>
    <div class="w-100 mb-5">{{ form_label(form.isActiv) }}</div>
</div>


<button class="btn pr-button-slate">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
