{% extends 'base_admin.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="pr-admin-header">
        <h1 class="pr-color-orange mt-0 mb-5">Utilisateurs</h1>
    </div>

        <div class="w-50 m-auto p-3 d-flex flex-column align-items-center">
            <h3 class="mt-0 mb-4">Liste des utilisateurs</h3>
    </div>

    <table class="table table-hover table-pr pr-index mt-3 pr-welcome">
        <thead class="">
            <tr class="align-text-top">
                <th scope="col" class="pr-col-email">Email</th>
                <th scope="col" class="pr-col-prenom">Prénom</th>
                <th scope="col" class="pr-col-nom">Nom</th>
                <th scope="col" class="pr-col-roles">Rôles</th>
                <th scope="col" class="pr-col-actif">Actif ?</th>
                <th scope="col" class="pr-col-verif">Compte vérifié ?</th>
                <th scope="col" class="pr-col-created">Créé le</th>
                <th scope="col" class="pr-col-modified">Modifié le</th>
                <th scope="col" class="pr-col-action text-center">Action</th>
            </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td class="pr-col-email">{{ user.email }}</td>
                <td class="pr-col-prenom">{{ user.firstname }}</td>
                <td class="pr-col-nom">{{ user.lastname }}</td>
                <td class="pr-col-roles">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="pr-col-actif">{{ user.isActiv ? 'Yes' : 'No' }}</td>
                <td class="pr-col-verif">{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td class="pr-col-created">{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</td>
                <td class="pr-col-modified">{{ user.updatedAt ? user.updatedAt|date('Y-m-d') : '' }}</td>
                <td class="pr-col-action">
                    <a href="{{ path('app_user_edit_profile', {'id': user.id}) }}" class="d-flex justify-content-center"><button class="pr-button-mini-ice">Modifier</button></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Pas de données trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <button class="btn pr-button-slate"><a href="{{ path('app_user_new') }}">Ajouter</a></button>

    {% endif %}
{% endblock %}
