{% extends 'base_admin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    {% if app.user.id == user.id or is_granted('ROLE_SUPER_ADMIN') %}

<div class="pr-admin-header">
    <h1 class="pr-color-orange mt-0 mb-5">Utilisateur</h1>
    <h4>Détails</h4>
</div>

        <table class="table pr-table-admin-show">
            <tbody>
            <tr class="">
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <tr>
                    <th>Est Actif ?</th>
                    <td>{{ user.isActiv ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Est vérifié ?</th>
                    <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Créé le</th>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Modifié le</th>
                    <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Rôles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>

            {% endif %}
            </tbody>
        </table>

        <div>
        {% if is_granted('ROLE_ADMIN') %}
            <button class="btn pr-button-slate"><a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier le profil</a></button>
        {% endif %}
        </div>
        <div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <button class="btn pr-button-orange"><a href="{{ path('app_user_edit_profile', {'id': user.id}) }}">Paramétrer ce profil</a></button>
        {% endif %}
        </div>

        {{ include('user/_delete_form.html.twig') }}

    {% endif %}
{% endblock %}
