{% extends 'base.html.twig' %}

{% block title %}La Carte{% endblock %}

{% block body %}

    <div class="pr-carte-background">
        {% include "includes/_navbar.html.twig" %}

        <div class="pr-carte-container">
            <h1 class="pr-carte-title">LA CARTE</h1>

            <div class="pr-carte-section">
                <div class="pr-carte-inner-section">

                    <div class="pr-carte-subtitle">
                        Les menus
                    </div>

                    {% for menu in menus %}
                        <div class="pr-carte-display">
                            <div class="pr-carte-itemName">{{ menu.foodName }}</div>
                            <div class="pr-carte-description">{{ menu.description }}</div>
                            <div class="pr-carte-price">{{ menu.price|number_format(2) }} €</div>
                        </div>
                    {% endfor %}
                    <p class="pr-cart-cf mb-0">* un élément = une part de pizza ou un dessert</p>
                    <p class="pr-cart-cf mt-0">* une boisson = une eau 33cl ou un soft 33cl</p>
                </div>
            </div>

            <div class="pr-carte-section">
                <div class="pr-carte-inner-section">
                    <div class="pr-carte-subtitle">
                        Les pizzas
                    </div>
                    {% for pizza in pizzas %}
                        <div class="pr-carte-display">
                            <div class="pr-carte-itemName">{{ pizza.foodName }}</div>
                            <div class="pr-carte-description">{{ pizza.description }}</div>
                            <div class="pr-carte-price">{{ pizza.price|number_format(2) }} €</div>
                            {% if pizza.isVegetarian == true %}
                                <div class="pr-carte-isVegetarian">
                                    <img src="{{ asset('build/images/vegetarian.png') }}" alt="Vegetarian"
                                         class="pr-vegetarian-icon">
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <p class="pr-cart-cf mb-0">Une part fait environs 10cm x 20cm</p>
                    <p class="pr-cart-cf mt-0"><img src="{{ asset('build/images/vegetarian.png') }}"
                                                    class="pr-vegetarian-icon"> = végétarien</p>
                </div>
            </div>

            <div class="pr-carte-section">
                <div class="pr-carte-inner-section">
                    <div class="pr-carte-subtitle">
                        Les desserts
                    </div>
                    {% for dessert in desserts %}
                        <div class="pr-carte-display">
                            <div class="pr-carte-itemName">{{ dessert.foodName }}</div>
                            <div class="pr-carte-description">{{ dessert.description }}</div>
                            <div class="pr-carte-price">{{ dessert.price|number_format(2) }} €</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <h1 class="pr-carte-title">LES BOISSONS</h1>

            <div class="pr-carte-section">
                <div class="pr-carte-inner-section">
                    <div class="pr-carte-subtitle">
                        Les softs
                    </div>
                    {% for waterSoft in waterSofts %}
                        <div class="pr-carte-display">
                            <div class="pr-carte-itemName">{{ waterSoft.beverageName }}</div>
                            <div class="pr-carte-description">{{ waterSoft.beverageName }}</div>
                            <div class="pr-carte-price">{{ waterSoft.price|number_format(2) }} €</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="pr-carte-section">
                <div class="pr-carte-inner-section">
                    <div class="pr-carte-subtitle">
                        Les bières pression
                    </div>
                    {% for beerTap in beerTaps %}
                        <div class="pr-carte-display">
                            <div class="pr-carte-itemName">{{ beerTap.beverageName }}</div>
                            <div class="pr-carte-description">{{ beerTap.description }}</div>
                            <div class="pr-carte-price">{{ beerTap.price|number_format(2) }} €</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="pr-carte-section">
                <div class="pr-carte-inner-section">
                    <div class="pr-carte-subtitle">
                        Les bières bouteilles
                    </div>
                    {% for beerBottle in beerBottles %}
                        <div class="pr-carte-display">
                            <div class="pr-carte-itemName">{{ beerBottle.beverageName }}</div>
                            <div class="pr-carte-description">{{ beerBottle.description }}</div>
                            <div class="pr-carte-price">{{ beerBottle.price|number_format(2) }} €</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
